<!-- Start Welcome -->
<div class="bg-text bg-welcome" style="padding: 300px 0;">
    <div class="container">
        <div class="center-content">
            <div class="center-content-inner">
                <h1 class="h2 i18n"><?=_('Welcome to Dapinqing'); ?></h1>

                <div class="bg-text-buttons">
                    <a href="#register-employers" class="btn btn-primary btn-large i18n"><?=_('For employers'); ?></a>
                    <a href="#register-employees" class="btn btn-primary btn-large i18n"><?=_('For employees'); ?></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Welcome -->