<div class="desktop_footer">
    <div class="qr-codes">
        <img src="/img/qr-code-weixin.png" style="width: 85px;" alt="">
        <img src="/img/qr-code-weibo.png" style="width: 85px;" alt="">
    </div>
	<div class="desktop_footer_wrapper">
        <footer class="main-footer">
            <div class="container">
                <nav class="footer-nav">
                    <a href="#about" class="i18n"><?=_('About Dapinqing');?></a>
                    <a href="#video-tips" class="i18n"><?=_('Video Tips');?></a>
                    <a href="#privacy" class="i18n"><?=_('Privacy');?></a>
                </nav>

                <div class="copyright">
                    <a href="http://www.miitbeian.gov.cn/" target="_blank">沪ICP备15057131号-4</a>
                    &copy; 2016 <span class="i18n"><?=_('Dapinqing');?></span>
                </div>
            </div>
        </footer>
	</div>
</div>

<div class="mobile_footer">
	<ul class="tabBar">
		<li class="nav-home">
			<a href="#home">
                <span class="tabBarIcon tabBarHome"></span>
                <span class="i18n"><?=_('Home'); ?></span>
			</a>
		</li>
		<li class="nav-videos">
			<a href="#videos">
                <span class="tabBarIcon tabBarVideos"></span>
                <span class="i18n"><?=_('Jobs'); ?></span>
			</a>
		</li>
		<li class="nav-mentors">
			<a href="#mentors">
                <span class="tabBarIcon tabBarMentors"></span>
                <span class="i18n"><?=_('Companies'); ?></span>
			</a>
		</li>
		<li class="nav-circle">
			<a href="#circle">
                <span class="unread-circle-requests" style="display: none;"></span>
                <span class="tabBarIcon tabBarCircle"></span>
                <span class="i18n"><?=_('Circle'); ?></span>
			</a>
		</li>
	</ul>
</div>
