<!-- Start Main -->
<main>
    <div class="container">

    <div data-template-filename="mentors/search-form.handlebars.html"></div>

    <div class="content">
        <h1 class="i18n"><?=_('Companies');?></h1>

        <h2 class="i18n"><?=_('Search results');?></h2>
        <div class="viewport mentors listView" data-template-filename="mentors/list-search-results.handlebars.html" data-template-partials="{'mentor_result': 'mentors/item.handlebars.html'}"></div>
    </div>

    </div>
</main>
<!-- End Main -->