/* LAYOUT
-------------------------------------------------*/
.container {
    @extend %clearfix;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @include breakpoint(medium) {
        max-width: 1020px;
    }
}

.row {
    @extend %clearfix;
    margin-left: -5px;
    margin-right: -5px;

    &.row-space {
        margin-bottom: 60px;
    }
}

/* Grid extends
-------------------------------*/
.three-col,
%three-col {
    @include span(12);
    margin-bottom: 30px;

    @include breakpoint(small) {
        @include span(4);
    }
}

.two-col,
%two-col {
    @extend %three-col;

    @include breakpoint(small) {
        @include span(6);
    }
}

.four-col,
%four-col {
    @include span(12);

    @include breakpoint(small) {
        @include span(3);
    }
}

.full-col,
%full-col {
    @include span(12);
}

%one-two-three {
    @include span(12);

    @include breakpoint(lsmall) {
        @include span(6);
    }

    @include breakpoint(small) {
        @include span(4);
    }
}

%two-four {
    @include span(6);

    @include breakpoint(small) {
        @include span(3);
    }
}

%two-four-five-six {
    @include span(6);

    @include breakpoint(lsmall) {
        @include span(3);
    }

    @include breakpoint(small) {
        @include span(20%);
    }

    @include breakpoint(medium) {
        @include span(2);
    }
}

%two-four-six-eight {
    @include span(6);

    @include breakpoint(lsmall) {
        @include span(3);
    }

    @include breakpoint(small) {
        @include span(2);
    }

    @include breakpoint(medium) {
        @include span(12.5%);
    }
}

/* Video tips
-------------------------------*/
#page-video-tips .main-content img {
    width: 100%;
    margin-bottom: 10px;
}
@media (min-width:768px) {
    #page-video-tips .main-content img {
        width: 30%;
        min-width: 250px;
            float: left;
            margin-right: 10px;
        &.right {
            float: right;
            margin-left: 10px;
        }
    }
    #page-video-tips .main-content h2 {
        clear: both;
        padding-top: 20px;
    }
}