/* AUTOCOMPLETE
-------------------------------------------------*/
.autocomplete-suggestions { 
    border: none;
    background: $white; 
    overflow: auto; 
}

.autocomplete-suggestion { 
    padding: 2px 10px; 
    white-space: nowrap; 
    overflow: hidden;
    cursor: pointer;
}

.autocomplete-selected { 
    background: $colorBgLight; 
}

.autocomplete-suggestions strong { 
    font-weight: normal; 
    color: $shakespear; 
    text-decoration: underline;
}

.autocomplete-group { 
    padding: 2px 5px; 
}

.autocomplete-group strong { 
    display: block; 
    border-bottom: 1px solid #000; 
}