/* HELPERS
-------------------------------------------------*/

/* Alignment
-------------------------------*/
.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

/* Equal vertical height
-------------------------------*/
.vheight {
    display: flex;
    flex-wrap: wrap;

    .vheight-child {
        display: flex;
    }

    .list-item-content {
        width: 100%;
    }
}